name: Postman API Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  postman-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run Postman tests with Newman
        env:
          POSTMAN_COLLECTION_NAME: ${{ vars.POSTMAN_COLLECTION_NAME }}
          POSTMAN_COLLECTION_EXPORT_PATH: ${{ vars.POSTMAN_COLLECTION_EXPORT_PATH }}
          POSTMAN_ENVIRONMENT_NAME: ${{ vars.POSTMAN_ENVIRONMENT_NAME }}
          POSTMAN_ENVIRONMENT_EXPORT_PATH: ${{ vars.POSTMAN_ENVIRONMENT_EXPORT_PATH }}
          REPORT_DIR: ${{ vars.REPORT_DIR }}
                    
        run: npm run pm:test

      - name: Upload Newman report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: reports/newman.html